  h1 {
    font-size: 64px;
    font-family: "Lucida Grande", sans-serif;
    font-variant: small-caps;
    margin: 5px;
    color: #e60000;
    text-shadow: 3px 3px 8px black;
    text-decoration: underline;
  }
  
  h2 {
  }
  
  h3 {
    font-family: "Lucida Sans Unicode", sans-serif;
    margin-bottom: -20px;
    font-size: 32px;
    color: black;
    text-shadow: 1px 1px 2px #e60000;
    }
  
  h4 {
    margin-bottom: -10px;
    font-size: 20px;
    color: black;
    text-decoration: underline;
  }
  
  h5 {
    margin-bottom: -15px;
    font-size: 14px;
  }
  
  p {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  #container {
    display: block;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: silver;
    color: black
  }
  #contact {
    border: 5px groove #ffaaaa;
  }
  #profile {
    font-style: italic;
    border: 5px groove #ffaaaa;    
  }
  #education {
    border: 5px groove #ffaaaa;   
  }
  #workexperience {
    border: 5px groove #ffaaaa;
  }
  body {
    background: url("https://addons.opera.com/media/CACHE/images/themes/75/37875/1.0-rev1/images/1b6b1378-270e-43ab-b3ac-9e5848754b3e/1fe310acbc8463f5c615640eee529943.jpg")
  }
  #hilton {
  }
  #ramys {
  }
